*{
    text-align: center;
}

.joinInner{
    text-align: center;
}

.joinOuter{
    margin-top: 100px;
    background-color: rgb(5, 5, 5);
    height: 500px;
    width: 100%;
}
.heading{
    color: rgba(0, 2, 1, 0.555);
    margin-top: 100px;
    background-color: rgb(34, 159, 231);
    padding: 50px;
    font-size: 100px;
    font-family: "Lucida Console", Courier, monospace;
}
.button{
    margin-top: 20px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    padding: 6px 50px;
    transition-duration: 0.10s;
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(114, 165, 212);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.joinInput{
    margin-top: 20px;
    border-radius: 5px;
    border-color: black;
    width: 50%;
    padding: 10px 20px;
    text-align: center;
    border: none;
}
.button:hover{
    background-color: rgb(14, 113, 170);
    color: black;
}
.inputBox{
    margin-top: 70px;
}
